/* .Input{
    padding: 10px 15px;
    margin: 10px 0;
    border: none;
    outline: 1px solid black;
    border-radius: 5px;

    width: 100%;
} */

.Input{
    /* background-color: red; */
    width: 100%;
    margin: 10px 0;
    padding: .5rem;
    border: none;
    outline: none;
    border-bottom: 3px solid #3bd8a6  ;
}
